* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(/imgs/0000.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.logo {
  width: 250px;
  height: 70px;
}
.logo img {
  margin: 10px 0 0 5px;
  border-radius: 20px;
  transition: 0.5s;
}
section {
  border: hidden;
  padding: 10px;
  display: table;
  margin: 0 auto;
  border-radius: 8px;
}
.navation {
  padding: 5px 0;
  border-bottom: 1px solid #fff;
  overflow: hidden;
}
.navation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  float: left;
}
.navation ul li {
  float: left;
  padding: 5px;
  margin: 2px;
  text-shadow: 1px 1px 2px #f97373;
}
.navation ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}
.navation ul li a[class="all"] {
  text-decoration: underline;
  color: #ad0000;
}
.navation ul li a:hover {
  color: #ad0000;
  text-decoration: underline;
}
.navation ul li a:active {
  color: #fff;
  transition: all 0s;
  text-decoration: none;
}
.navation input {
  float: right;
  background-color: #282828;
  border-radius: 4px;
  border: 1px solid #282828;
  padding: 6px;
  color: #fff;
  font-weight: 600;
  width: 10%;
  outline: none;
  transition: 1s ease-in-out 0.3s;
  margin-right: 5px;
  opacity: 0.5;
}
.navation input:hover {
  transition: 0.6s ease-in-out 0.3s;
  width: 30%;
  box-shadow: 1px 1px 4px #ddd;
  opacity: 1;
}
.navation input:focus {
  width: 30%;
  box-shadow: 1px 1px 4px #ddd;
  opacity: 1;
}
.movie-raw {
  overflow: hidden;
  border: hidden;
  padding: 6px 0 0 0;
}
.movie-box {
  height: 300px;
  width: 160px;
  float: left;
  margin: 2px;
  border: hidden;
  border-radius: 10px;
}
.movie-image {
  height: 80%;
  border: hidden;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  max-width: 160px;
  margin: 0 auto;
}
.movie-image img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  vertical-align: middle;
}
.movie-image .info {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #dcd6d6;
  width: 100%;
  transition: 0.5s ease-in-out;
  height: 20%;
  opacity: 0.05;
  text-align: center;
}
.movie-image .info:hover {
  transition: all 0.7s ease-in-out;
  height: 65%;
  opacity: 1;
}
.movie-image .info ul {
  list-style: none;
  text-align: left;
  margin: 6px 0 0 6px;
  margin-top: 6px;
}
.movie-image .info li {
  margin-bottom: 3px;
}
.movie-image img:hover {
  transform: scale(1.1);
}
.movie-info {
  height: 20%;
  padding: 2px 0;
  color: #fff;
  border: hidden;
  transition: 0.5s;
}
.movie-name {
  font-weight: 700;
  padding: 2px;
  border: hidden;
  font-style: italic;
}
.movie-name:hover {
  color: #a3a3a3;
}
.movie-type {
  font-weight: 500;
  padding: 0px;
  border: hidden;
  font-style: italic;
  color: #770000;
  overflow: hidden;
}
.movie-type ul {
  display: flex;
}
.movie-type:hover {
  color: #b20000;
}
::-webkit-scrollbar {
  background-color: #262828;
  width: 11px;
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 8px;
}
.copy-right {
  text-align: center;
  font-weight: 900;
  font-size: larger;
  color: #7a7a7a;
}
